@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

html {
    font-size: 100%;
}

#definition_table {
    border-collapse: collapse;
    border: solid 2px black;
    margin-left: 1rem;
}

#definition_table th {
    border: 1px black solid;
    background-color: lightgray;
    padding: 0.5rem;
}

#definition_table td {
    border: 1px black solid;
    padding: 0.5rem;
}

a {
    text-decoration: none;
    font-style: italic;
}

.fluo {
    background-color: yellow;
}

form {
    width: 60%;
    border: none;
    margin: 1rem;
}

fieldset {
    padding: 0.2rem;
}

input {
    padding: 0.3rem;
}

footer p {
    font-size: 0.5rem;
    margin-left : 10rem;
    color: grey;
    margin-top: 0.5rem;
}